.btn {
  cursor: pointer;
}

.card {
  background: #f8f8f8;
}

#schedule-card {
  background: #f8f8f8;
  font-size: 10pt;
  height: 100px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#schedule-card .table {
  margin-bottom: 0;
}

#btn-prev, #btn-next, #btn-begin-assignment {
  width: 100%;
}