<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>App</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <div th:replace="fragments/styles"></div>
  <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
  <h1>App Page</h1>

  <div th:replace="fragments/scripts"></div>
  <script src="/js/app.js"></script>
  <script>
    $(document).ready(function() {
      var app = new App();
    });
  </script>
</body>
</html>