<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <div th:replace="fragments/styles"></div>
  <style>
    .btn-submit {
      width: 100%;
      padding: 25px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="text-center">Driver Login</h1>
    <div class="row">
      <div class="col-12">
        <div th:if="${success} != null">
          <div th:text="${success}" class="alert alert-success"></div>
        </div>
        <div th:if="${error} != null">
          <div th:text="${error}" class="alert alert-danger"></div>
        </div>
      </div>
    </div>
    <form action="/login" method="post">
      <div class="row">
        <div class="col">
          <label>Service Code:</label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" name="servicecode" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Username:</label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" name="username" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Password:</label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="password" name="password" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4 text-center">
          <button type="submit" class="btn btn-primary btn-submit">
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
  <div th:replace="fragments/scripts"></div>
</body>
</html>