<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Menu</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <div th:replace="fragments/styles"></div>
  <link rel="stylesheet" href="/css/menu.css"/>
</head>
<body>
  <div id="main" class="align-self-stretch">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center h1">Menu</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-3">
          <div th:text="${username}" class="alert alert-infor"></div>
          <button class="btn btn-block btn-primary p-5">
            Go into service
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-3">
          <a class="btn btn-block btn-secondary p-5" href="/logout">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="fragments/scripts"></div>
  <script src="/js/menu.js"></script>
  <script>
    $(document).ready(function() {
      var app = new MenuApp();
    });
  </script>
</body>
</html>