<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>App</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <div th:replace="fragments/styles"></div>
  <link rel="stylesheet" href="/css/on-assignment.css"/>
</head>
<body>
  <div id="main" class="align-self-stretch">
    <div class="container-fluid">
      <div id="btn-end-assignment-container" class="row">
        <div class="col">
          <div class="p-1">
            <a class="btn btn-sm btn-warning" href="/end-assignment">End Assignment</a>
          </div>
        </div>
      </div>
      <div id="btn-finish-assignment-container" class="row" style="display: none;">
        <div class="col text-center">
          <div class="p-1">
            <a class="btn btn-primary" href="/end-assignment">Complete Assignment</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Status:</label>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <label id="status-label" class="btn btn-sm btn-success">Driving</label>
          <span id="status-preposition">to</span>
          <label class="btn btn-sm btn-secondary"><i class="fa fa-map-pin"></i><span id="status-stop">Baseball Stadium</span></label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Assignment Info</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Prev/Next Buttons</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Driving/At-Stop Button</h3>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="fragments/scripts"></div>
  <script src="/js/geolocation.js"></script>
  <script src="/js/on-assignment.js"></script>
  <script>
    $(document).ready(function() {
      var app = new SelectAssignmentApp();
    });
  </script>
</body>
</html>